Repository hrzntal/horizon, pull requests merged in 2022-03, with the labels that each got.

#845 Remove the unsed landmark and cleans up maps
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/emergency_monastery.dmm
  code/_globalvars/lists/mapping.dm
  code/game/objects/effects/landmarks.dm
Labels: Area : Mapping, Type : Removal

#818 Ports Suit Storage Unit Resprite TG(#63291) Shiptest(#713)
  code/game/machinery/suit_storage_unit.dm
  icons/obj/machines/suit_storage.dmi
Labels: Type : Mirror, Area : Sprites

#851 Automatic Crew Transfer
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/autotransfer.dm
  code/controllers/subsystem/lighting.dm
  code/controllers/subsystem/shuttle.dm
  code/controllers/subsystem/vote.dm
  code/game/machinery/computer/communications.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/cargo/expressconsole.dm
  code/modules/cargo/orderconsole.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/modular_computers/file_system/programs/budgetordering.dm
  code/modules/shuttle/emergency.dm
  config/game_options.txt
  tgstation.dme
  tgui/packages/tgui/interfaces/Vote.js
Labels: Area : UI/UX, Area : Configuration, Warn : Config Update, Area : Administration, Type : Feature, Type : Quality of Life
